aiofiles==24.1.0
aiogram==2.25.2
aiohappyeyeballs==2.4.2
aiohttp==3.10.6
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
frozenlist==1.4.1
greenlet==3.1.1
idna==3.10
importlib_metadata==8.5.0
inflect==7.4.0
magic-filter==1.0.12
more-itertools==10.5.0
multidict==6.1.0
mysql-connector-python==9.0.0
numpy==1.24.4
pandas==2.0.3
pydantic==2.8.2
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.54
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.2
yarl==1.13.0
zipp==3.20.2
